@{
    Layout = null;
}
To: @ViewBag.To
From: cs@work-ship.com
Subject: DigimoorX7 Password Renew

<Table cellpadding='0' cellspacing='0' align='left' style='border: 1px solid rgb(221, 221, 221);
    padding: 7px; background: rgb(248, 248, 248) none repeat scroll 0% 0%; width: 90%;'>
    <tr align='center'>
        <th style='padding: 15px 10px; background: #fff;'>
            <img src='http://work-ship.com/wp-content/uploads/2016/05/logo.png' />
        </th>
    </tr>
    <tr align='left'>
        <th style='padding: 7px 10px;'>
        </th>
    </tr>
    <tr align='left'>
        <th style='padding: 7px 10px;'>
            Dear : @ViewBag.UserName,
        </th>
    </tr>
    <tr>
        <td style='padding: 7px 10px 15px 7px;'>
            You may reset your password with following Link :-
        </td>
    </tr>
    <tr>
        <td style='padding: 7px 10px 7px 10px; background: #fff;'>
            <strong>http://web.work-ship.com/account/newpassword/@ViewBag.ConfirmationToken</strong>
        </td>
    </tr>
    <tr>
        <td style='padding: 7px 10px 15px 7px;'>
            For any queries or support, you may contact our Customer Support by email on cs@work-ship.com
        </td>
    </tr>
    <tr>
        <td style='padding: 15px 10px 15px 10px;'>
            Fraternal Greetings!
        </td>
    </tr>
    <tr>
        <td style='padding: 5px 10px 0 10px;'>
            Customer Support Team
        </td>
    </tr>
    <tr>
        <td style='padding: 5px 10px 0 10px;'>
            DigimoorX7
        </td>

    </tr>
    <tr>
        <td style='padding: 5px 10px 0 10px;'>
            cs@work-ship.com
        </td>
    </tr>
    <tr>
        <td style='padding: 5px 10px 7px 10px;'></td>
    </tr>
    <tr>
        <td align='center' style='color: #fff; padding: 12px 10px; background: #026389'>
            ©workship
        </td>
    </tr>
</Table>
