@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="full-height bg-white height-100">
    <div class="vertical-align full-height pdd-horizon-70">
        <div class="table-cell">
            <div class="pdd-horizon-15">
                <h2>Forgot Password</h2>
                <p class="mrg-btm-15 font-size-13">Please check your email for the instructions to reset your password.</p>
            </div>
        </div>
    </div>
    <div class="login-footer">
        <img class="img-responsive inline-block" src="~/images/moor.png" width="100" alt="">
        <span class="font-size-13 pull-right pdd-top-10">Don't have an account? <a href="">Sign Up Now</a></span>
    </div>
</div>