@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_LeftSideBar.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Support
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div style="min-height: 200px; margin: 20px 20px 20px 20px">
                                <address>
                                    <p>Latest version will be 2.0.0</p>
                                    <strong>For any Queries/ Support</strong>
                                    <br /><br />e-mail our team on<br>
                                    <a href="mailto:cs@49webstreet.com">cs@49webstreet.com</a>
                                    <br /><br />
                                    or Call us at<br>
                                    <a href="tel:+91-7097442000">+91-7097442000</a>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>