
@{
	ViewBag.Title = "ExportData";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExportData</h2>

@*@using (Html.BeginForm("ExportData", "ImportExport"))
{
	<button id="submitButton" type="submit">Create Simple Excel</button>
}*@
