
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page_title margin-3-bot">
    <h2>Rules</h2><br />
    <div>
        <h5><b>MLC 2006</b> </h5>
        <div style="overflow-y: scroll; border:solid; height:120px; padding:3px">

            <p>Regulation 2.3 - Hours of work and hours of rest<br />Purpose: To ensure that seafarers have regulated hours of work or hours of rest</p>
            <p>1. Each Member shall ensure that the hours of work or hours of rest for seafarers are regulated.</p>
            <p>2. Each Member shall establish maximum hours of work or minimum hours of rest over given periods that are consistent with the provisions in the Code. <br />Standard A2.3 - Hours of work and hours of rest For the purpose of this Standard, the term:</p>
            <p>(a) hours of work means time during which seafarers are required to do work on account of the ship;<br />(b) hours of rest means time outside hours of work; this term does not include short breaks.</p>
            <p>3. Each Member shall within the limits set out in paragraphs 5 to 8 of this Standard fix either a maximum number of hours of work which shall not be<br />exceeded in a given period of time, or a minimum number of hours of rest which shall be provided in a given period of time.</p>

            <p>4. Each Member acknowledges that the normal working hours&rsquo; standard for seafarers, like that for other workers, shall be based on an eight-hour day with<br />one day of rest per week and rest on public holidays. However, this shall not prevent the Member from having procedures to authorize or register a collective<br />agreement which determines seafarers&rsquo; normal working hours on a basis no less favourable than this standard.</p>
            <p>5. In determining the national standards, each Member shall take account of the danger posed by the fatigue of seafarers, especially those whose duties<br />involve navigational safety and the safe and secure operation of the ship.</p>
            <p>6. The limits on hours of work or rest shall be as follows:<br />(a) maximum hours of work shall not exceed:<br />(i) 14 hours in any 24-hour period; and<br />(ii) 72 hours in any seven-day period;<br />or<br />(b) minimum hours of rest shall not be less than:<br />(i) ten hours in any 24-hour period; and<br />(ii) 77 hours in any seven-day period.</p>
            <p>7. Hours of rest may be divided into no more than two periods, one of which shall be at least six hours in length, and the interval between consecutive periods of rest shall not exceed 14 hours.<p />

            <p> 8. Musters, fire-fighting and lifeboat drills, and drills prescribed by national laws and regulations and by international instruments, shall be conducted in a manner that minimizes the disturbance of rest periods and does not induce fatigue.</p>
            <p>9. When a seafarer is on call, such as when a machinery space is unattended, the seafarer shall have an adequate compensatory rest period if the normal period of rest is disturbed by call-outs to work.</p>
            <p>10. If no collective agreement or arbitration award exists or if the competent authority determines that the provisions in the agreement or award in respect of paragraph 7 or 8 of this Standard are<br />inadequate, the competent authority shall determine such provisions to ensure the seafarers concerned have sufficient rest.</p>
            <p>11. Each Member shall require the posting, in an easily accessible place, of a table with the shipboard working arrangements, which shall contain for every position at least:<br />(a) the schedule of service at sea and service in port; and<br />(b) the maximum hours of work or the minimum hours of rest required by national laws or regulations or applicable collective agreements.</p>
            <p>12. The table referred to in paragraph 10 of this Standard shall be established in a standardized format in the working language or languages of the ship and in English.</p>
            <p>13. Each Member shall require that records of seafarers&rsquo; daily hours of work or of their daily hours of rest be maintained to allow monitoring of compliance with paragraphs 5 to 11 inclusive of this Standard.<br />The records shall be in a standardized format established by the competent authority taking into account any available guidelines of the International Labour Organization or shall be in any standard format<br />prepared by the Organization. They shall be in the languages required by paragraph 11 of this Standard. The seafarers shall receive a copy of the records pertaining to them which shall be endorsed by the <br />master, or a person authorized by the master, and by the seafarers.</p>
            <p>14. Nothing in paragraphs 5 and 6 of this Standard shall prevent a Member from having national laws or regulations or a procedure for the competent authority to authorize or register collective agreements<br />permitting exceptions to the limits set out. Such exceptions shall, as far as possible, follow the provisions of this Standard but may take account of more frequent or longer leave periods or the granting of<br />compensatory leave for watchkeeping seafarers or seafarers working on board ships on short voyages.</p>
            <p>15. Nothing in this Standard shall be deemed to impair the right of the master of a ship to require a seafarer to perform any hours of work necessary for the immediate safety of the ship, persons on board<br />or cargo, or for the purpose of giving assistance to other ships or persons in distress at sea. Accordingly, the master may suspend the schedule of hours of work or hours of rest and require a seafarer to<br />perform any hours of work necessary until the normal situation has been restored. As soon as practicable after the normal situation has been restored, the master shall ensure that any seafarers<br />who have performed work in a scheduled rest period are provided with an adequate period of rest.<br />Guideline B2.3 - Hours of work and hours of rest<br />Guideline B2.3.1 - Young seafarers<br />1. At sea and in port the following provisions should apply to all young seafarers under the age of 18:<br />(a) working hours should not exceed eight hours per day and 40 hours per week and overtime should be worked only where unavoidable for safety reasons;<br />(b) sufficient time should be allowed for all meals, and a break of at least one hour for the main meal of the day should be assured; and<br />(c) a 15-minute rest period as soon as possible following each two hours of continuous work should be allowed.</p>

            <p>2. Exceptionally, the provisions of paragraph 1 of this Guideline need not be applied if:<br />(a) they are impracticable for young seafarers in the deck, engine room and catering departments assigned to watchkeeping duties or working on a rostered shiftwork system; or<br />(b) the effective training of young seafarers in accordance with established programmes<br />and schedules would be impaired.</p>
            <p>3. Such exceptional situations should be recorded, with reasons, and signed by the master.</p>
            <p>4. Paragraph 1 of this Guideline does not exempt young seafarers from the general obligation on all seafarers to work during any emergency as provided for in Standard A2.3, paragraph 14.</p>
        </div>
    </div>
    <div>
        <h5><b>STCW (Including Exception)</b></h5>
        <div style="overflow-y: scroll; border:solid; height:100px; padding:3px">

            <p>Under the Manila Amendments to the STCW Convention, all persons who are assigned duty as officer in charge of a watch or as a rating forming part of a watch and those whose duties involve designated safety, prevention of pollution and security duties shall be provided with a rest period of not less than:<br /><br />1. a minimum of 10 hours of rest in any 24-hour period; and<br />2. 77 hours in any 7-day period.<br />The hours of rest may be divided into no more than two periods, one of which shall be at least 6 hours in length, and the intervals between consecutive periods of rest shall not exceed 14 hours.<br /><br />At the same time, in order to ensure a continued safe operation of ships in exceptional conditions, the Conference unanimously agreed to allow certain exceptions from the above requirements for the rest periods.<br /><br />Under the exception clause, parties may allow exceptions from the required hours of rest provided that the rest period is not less than 70 hours in any 7 day period and on certain conditions, namely:<br /><br />1. such exceptional arrangements shall not be extended for more than two consecutive weeks;<br />2. the intervals between two periods of exceptions shall not be less than twice the duration of the exception;<br />3. the hours of rest may be divided into no more than three periods, one of which shall be at least 6 hours and none of the other two periods shall be less than one hour in length;<br />4. the intervals between consecutive periods of rest shall not exceed 14 hours; and<br />5. exceptions shall not extend beyond two 24-hour periods in any 7-day period.<br /><br />Exceptions shall, as far as possible, take into account the guidance regarding prevention of fatigue in section B-VIII/1.<br /><br />These provisions were the result of intensive negotiations between regulators and the shipping industry and represent a well balanced solution of the issue in the well known IMO spirit of compromise.</p>
        </div>
    </div>
    <div>
        <h5><b>  OPA 90 Rule</b></h5>
        <div style="overflow-y: scroll; border:solid; height:90px; padding:3px ">
            <p>Workhour Limits.<br />1. Tankers.<br />The Oil Pollution Act of 1990 (OPA 90) amended 46 U.S.C. 8104 by adding a new subsection (n) which reads as follows: <br /> "On a tanker, a licensed individual or seaman may not be permitted to work more than 15 hours in any 24 hour period, or more than 36 hours in any 72-hour period, except in an emergency or a drill. In this subsection, "work" includes any administrative duties associated with the vessel whether performed on board the vessel or onshore."</p>
        </div>
    </div>
    <div>
        <h5><b> OCIMF SIRE (VIQ 7) </b></h5>
        <div style="overflow-y: scroll; border:solid; height:40px; padding:3px ">
             <p>Click here to view: <a href="https://alain.work-ship.com/ocimf.pdf" target="_blank">OCIMF SIRE (VIQ 7)</a></p>
        </div>
    </div>
</div>


